<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hero</title>
</head>
<body>
    <p th:text = "${hero.getName()}">VALUE</p>
    <br>
    <p th:text = "${hero.getAlign()}">VALUE</p>
    <br>
    <p th:text = "${hero.getHair()}">VALUE</p>
    <br>
    <p th:text = "${hero.getGender()}">VALUE</p>
    <br>
    <p th:text = "${hero.getAppearances()}">VALUE</p>
    <br>
    <p th:text = "${hero.getUniverse()}">VALUE</p>
    <br>
    <p th:text = "${hero.getYear()}"> VALUE </p>

    <a th:href = "@{/heroes/{id}/edit(id=${hero.getId()})}"> Edit </a>

    <form th:method="DELETE" th:action="@{/heroes/{id}(id=${hero.getId()})}">
        <input type="submit" value = "Delete"/>
    </form>
</body>
</html>